.mainContainer
{
    background-color: rgb(39,52,67);
    height: 90vh;
    width: 90vw;
    border-radius: 20px;
}
.sidebarContainer
{
    flex: 0.3;
}
.workAreaContainer
{
    flex: 0.7;
    background-color:aliceblue ;
    color: black;
}
.sbheader
{
    border-radius: 20px;
    background-color: white;
    padding: 6px 5px;
    margin: 10px;
}
.sbsearch
{
    border-radius: 20px;
    background-color:white;
    padding: 6px 10px;
    margin: 10px;
}
.searchbox
{
    outline-width: 0;
    border: none;
    font-size: 1.25rem;
    margin-left: 10px;
    background-color: inherit;
    color: black;
}
.sbconversation
{
    border-radius: 20px;
    background-color:white;
    color: black;
    padding: 5px 10px;
    margin: 10px;
    flex: 1;
}
